src/main/resources/wsdl/eCollectWebservicesv2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://www.avisortech.com/eCollectWebservices"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.avisortech.com/eCollectWebservices">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.avisortech.com/eCollectWebservices">
            <s:element name="getTransactionInformation">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:getTransactionInformationType"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="getTransactionInformationType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="EntityCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TicketId" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="getTransactionInformationResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="getTransactionInformationResult"
                                   type="tns:getTransactionInformationResponseType"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="getTransactionInformationResponseType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="EntityCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TicketId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TrazabilityCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TranState" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TransValue" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TransVatValue" type="s:decimal"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PayCurrency" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CurrencyRate" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="BankProcessDate" type="s:date"/>
                    <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PaymentSystem" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ReferenceArray" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="RetriesTicketId"
                               type="tns:retriesTicketIdType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="retriesTicketIdType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="TicketId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TranState" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="createTransactionPayment">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:createTransactionType"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="createTransactionType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="EntityCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SrvCode" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TransValue" type="s:decimal"/>
                    <s:element minOccurs="1" maxOccurs="1" name="TransVatValue" type="s:decimal"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SrvCurrency" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="URLResponse" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="URLRedirect" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="SignFields" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ReferenceArray" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="createTransactionPaymentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="createTransactionPaymentResult"
                                   type="tns:createTransactionResponseType"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="createTransactionResponseType">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TicketId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="eCollectUrl" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="getTransactionInformationSoapIn">
        <wsdl:part name="parameters" element="tns:getTransactionInformation"/>
    </wsdl:message>
    <wsdl:message name="getTransactionInformationSoapOut">
        <wsdl:part name="parameters" element="tns:getTransactionInformationResponse"/>
    </wsdl:message>
    <wsdl:message name="createTransactionPaymentSoapIn">
        <wsdl:part name="parameters" element="tns:createTransactionPayment"/>
    </wsdl:message>
    <wsdl:message name="createTransactionPaymentSoapOut">
        <wsdl:part name="parameters" element="tns:createTransactionPaymentResponse"/>
    </wsdl:message>
    <wsdl:portType name="eCollectWebservicesv2Soap">
        <wsdl:operation name="getTransactionInformation">
            <wsdl:input message="tns:getTransactionInformationSoapIn"/>
            <wsdl:output message="tns:getTransactionInformationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="createTransactionPayment">
            <wsdl:input message="tns:createTransactionPaymentSoapIn"/>
            <wsdl:output message="tns:createTransactionPaymentSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="eCollectWebservicesv2Soap" type="tns:eCollectWebservicesv2Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTransactionInformation">
            <soap:operation soapAction="http://www.avisortech.com/eCollectWebservices/getTransactionInformation"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTransactionPayment">
            <soap:operation soapAction="http://www.avisortech.com/eCollectWebservices/createTransactionPayment"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="eCollectWebservicesv2Soap12" type="tns:eCollectWebservicesv2Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTransactionInformation">
            <soap12:operation soapAction="http://www.avisortech.com/eCollectWebservices/getTransactionInformation"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTransactionPayment">
            <soap12:operation soapAction="http://www.avisortech.com/eCollectWebservices/createTransactionPayment"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="eCollectWebservicesv2">
        <wsdl:port name="eCollectWebservicesv2Soap" binding="tns:eCollectWebservicesv2Soap">
            <soap:address location="https://test1.e-collect.com/app_express/webservice/eCollectWebservicesv2.asmx"/>
        </wsdl:port>
        <wsdl:port name="eCollectWebservicesv2Soap12" binding="tns:eCollectWebservicesv2Soap12">
            <soap12:address location="https://test1.e-collect.com/app_express/webservice/eCollectWebservicesv2.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>